@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

/***** entire page *****/

body {
    height: 100vh;
    margin: 0px;
    background-color: gray;
    background-size: cover;
    font-family: 'Dongle', sans-serif;
    scroll-behavior: smooth;
}

/***** nav menu *****/

/* 메뉴바 링크 색 변경 및 고정 */
a,
a:link,
a:visited,
a:focus,
a:hover,
a:active{
    display: inline-block;
    color:black;
    text-decoration:none;
    text-align: center;
    width: 160px;
}
nav {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 1000;
    font-size: 30px;
}
.nav_link {
    width: 80px;
    margin-left: 40px;
}

/***** main text *****/

main {
    text-align: center;
    width: auto;
    height: auto;
}
h1 {
    margin: 50px;
    font-size: 70px;
}

/*** Who page ***/

#section_who {
    font-size: 25px;
    display: flex; /* flex를 이용한 콘텐츠 정 가운데 설정 */
    align-items: center; /* flex를 이용한 콘텐츠 정 가운데 설정 */
    justify-content: center; /* flex를 이용한 콘텐츠 정 가운데 설정 */
}
#my_image {
    width: 40%;
    height: 60%;
    margin: 40px;
}

/*** Like page ***/

#section_like{
    display: flex; /* flex를 이용한 콘텐츠 정 가운데 설정 */
    align-items: center; /* flex를 이용한 콘텐츠 정 가운데 설정 */
    justify-content: center; /* flex를 이용한 콘텐츠 정 가운데 설정 */
}
#like_image {
    width: 30%;
    margin: 50px;
}

/*** contact page ***/

#section_contact {
    font-size: 30px;
    display: flex; /* flex를 이용한 콘텐츠 정 가운데 설정 */
    align-items: center; /* flex를 이용한 콘텐츠 정 가운데 설정 */
    justify-content: center; /* flex를 이용한 콘텐츠 정 가운데 설정 */
}
ul {
    list-style: none;
    padding-left: 0px;
}
.contact_list {
    margin-top: 30px;
    margin-bottom: 30px;
}
#to_the_top{
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 20px;
    right: 20px;
}
#top_image{
    text-align: center;
    width: 50px;
    height: 50px;
}