@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

/***** entire page *****/

body {
    height: 100vh;
    margin: 0px;
    background-color: gray;
    background-size: cover;
    font-family: 'Dongle', sans-serif;
}

/***** nav menu *****/

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active{
    display: inline-block;
    color:black;
    text-decoration:none;
    text-align: center;
    width: 160px;
}
nav {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 1000;
    font-size: 30px;
}
.nav_link {
    width: 80px;
    margin-left: 40px;
}

/***** main text *****/

main {
    text-align: center;
    width: auto;
    height: 800px;
}
h1 {
    margin: 50px;
    font-size: 70px;
}

/*** index page ***/

#my_image {
    width: 600px;
    margin: 40px;
}
#section_index {
    margin: 50px;
    font-size: 25px;
}

/*** Like page ***/

#like_image {
    width: 80px;
    height: 80px;
    margin: 50px;
}

/*** contact page ***/

#section_contact {
    font-size: 30px;
}
ul {
    list-style: none;
    padding-left: 0px;
}
#contact_list {
    margin-top: 30px;
    margin-bottom: 30px;
}