@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

body {
    width: auto;
    height: 100vh;
    margin: 0px;
    background-color: gray;
    background-size: cover;
    font-family: 'Dongle', sans-serif;
}
nav {
    width: auto;
    list-style: none;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-weight: 1000;
    font-size: 30px;
}
span {
    margin-left: 50px;
    margin-right: 50px;
}
section {
    text-align: center;
    width: auto;
    height: 700px;
}
h1 {
    width: auto;
    height: auto;
    margin: 50px;
    font-size: 70px;
}
#my_picture {
    width: 600px;
    height: auto;
}
article {
    margin: 50px;
    font-size: 25px;
}
#Like_image {
    width: 80px;
    height: 80px;
    margin: 50px;
}