@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&display=swap');

/***** entire page *****/

html {
    scroll-behavior:smooth;
}
body {
    /* 배경색깔 적용 */
    height: 100vh;
    background-color: gray;
    background-size: cover;
    /* 전체 폰트 적용 */
    font-family: 'Dongle', sans-serif;
    margin: 0px; /* 여백 조절 */
}

/***** nav menu *****/

/* 메뉴바 링크 색 변경 및 고정 */

#nav_menu {
    display: flex;
    flex: none;
    padding-top: 30px;
    padding-bottom: 30px;
    /* 글씨 진하기 및 크기 */
    font-weight: 1000;
    font-size: 40px;
}
a,
a:link,
a:visited,
a:focus,
a:hover,
a:active{
    margin: 0 auto;
    color:black;
    text-decoration:none;
    text-align: center;
    width: 160px;
}

/***** main text *****/

main {
    text-align: center;
    width: auto;
    height: auto;
}
h1 {
    margin: 50px;
    font-size: 70px;
}

/*** Who page ***/

#section_who {
    font-size: 25px;
    /* 콘텐츠 정 가운데 설정 */
    display: flex;
    align-items: center;
    justify-content: center;
}
#my_image {
    width: 40%;
    height: 60%;
    margin: 40px;
}

/*** Like page ***/

#section_like{
    /* 콘텐츠 정 가운데 설정 */
    display: flex;
    align-items: center; 
    justify-content: center; 
}
#like_image {
    width: 300px;
    height: 250px;
    margin: 50px;
}

/*** contact page ***/

#section_contact {
    font-size: 30px;
    /* 콘텐츠 정 가운데 설정 */
    display: flex;
    align-items: center;
    justify-content: center;
}
ul {
    list-style: none;
    padding-left: 0px;
}
.contact_list {
    margin-top: 30px;
    margin-bottom: 30px;
}
#top_btn {
    width: 50px;
    height: 50px;
    bottom: 20px;
    right: 20px;
    position: fixed;
}
#top_btn_img{
    width: 50px;
    height: 50px;
}